@model IEnumerable<c_final_capstone_v2.Models.PollResultsModel>

<h2>Weekly Poll Results</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekOf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteAuthors)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeekOf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteBook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteAuthors)
        </td>
    </tr>
}

</table>
