@model c_final_capstone_v2.Models.Search

@{
    ViewBag.Title = "Search";

    List<SelectListItem> genreList = new List<SelectListItem>();
    genreList.Add(new SelectListItem { Text = "Select a Genre", Value = "" });
    foreach (string genre in ViewBag.Genres)
    {
        SelectListItem thisGenre = new SelectListItem { Text = genre, Value = genre };
        genreList.Add(thisGenre);
    }
}

<h2>Search for books</h2>
@using (Html.BeginForm("SearchResults", "Home", FormMethod.Post))
{
    <div class="formValidationGroup form-group">
        @Html.TextBoxFor(m => m.TitleSearchInput, new { placeholder = "Title", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TitleSearchInput, "", new { @class = "text-danger" })
    </div>
    <div class="formValidationGroup form-group">
        @Html.TextBoxFor(m => m.AuthorSearchInput, new { placeholder = "Author", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AuthorSearchInput, "", new { @class = "text-danger" })
    </div>
    <div class="formValidationGroup form-group">
        @Html.DropDownListFor(m => m.GenreSearchInput, genreList, new { placeholder = "Genre", @class = "form-control" })
    </div>
    <div class="formValidationGroup form-group">
        @Html.LabelFor(m => m.NewSearch)
        @Html.CheckBoxFor(m => m.NewSearch)
    </div>
    @Html.TextBoxFor(model => model.DateTimeSearchInput,
        new { type = "date" })
    <div class="">
        <button class="formSubmitButton btn btn-default">Search</button>
    </div>
}


